[Desktop Entry]
Name=Artwork
Comment=Runs the artwork in a webserver
Icon=nm-device-wireless
Exec=/home/harmvandendorpel/Desktop/HarmBoot/artwork.sh
Terminal=false
Type=Application
NoDisplay=true
NotShowIn=KDE;GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-applet
X-GNOME-UsesNotifications=true
X-Ubuntu-Gettext-Domain=nm-applet
