[Desktop Entry]
Name=Artwork
Comment=Runs the artwork in a webserver
Icon=nm-device-wireless
Exec=/home/harmvandendorpel/Desktop/HarmBoot/artwork.sh
Terminal=false
Type=Application