[Desktop Entry]
Name=Browser
Comment=Starts Chromium in FS
Icon=nm-device-wireless
Exec=/home/harmvandendorpel/Desktop/HarmBoot/browser.sh
Terminal=false
Type=Application